.gradle/
**/target
build/
libs/
classes/
stroom-query-api/out/
stroom-query-common/out/
stroom-query-api/src/test/resources/searchRequestPortrait-new.txt

# IntelliJ
# Here we ignore everything and create exceptions for what we want to share.
/out/
*.iml
/.idea/*
!/.idea/runConfigurations
